div.dokuwiki form.upload__plugin {
    width: 100%;
    text-align: center;
    display: block;
}

div.dokuwiki form.upload__plugin fieldset {
    width: auto;
    display: inline;
    text-align: left;
}

div.dokuwiki form.upload__plugin label {
    float: left;
    display: block;
    margin: 5px;
}

div.dokuwiki form.upload__plugin label span {
    text-align: right;
    width: 20em;
    display: block;
    float: left;
}

div.dokuwiki form.upload__plugin label input {
    display: inline;
/*    float: left; */
    margin-left: 5px;
}

div.dokuwiki form.upload__plugin input.button {
    float: left;
    display: block;
    margin: 5px;
}

div.dokuwiki form.upload__plugin input.button {
    float: left;
    display: block;
    margin: 5px;
}